---
import CertificatesImages from '../certificates-images/certificates-images.astro'
import CertificatesDescript from '../certificates-descript/certificates-descript.astro'
import style from '../../styles/certificates.module.css'
---

<div id="container-certificates" class=`${style.container_certificates}` >
    <div id="container-description-certificates" class=`${style.container_description_certificates}` >
        <div id="container-text-certificates">
            <h2 data-aos="fade-up" class=`${style.title}`>Certificados</h2>
            <p data-aos="fade-up" class=`${style.subtitle}`>“A cada dia um novo passo, um novo desafio, um novo aprendizado”</p>
        </div>
        <div id="container-img-certificates" class=`${style.container_img_certificates}`>
            <a href="https://drive.google.com/drive/folders/1S4ZtZErGERbei-N70jd3FpQ_D7HDMNRv?usp=sharing" target="_blank">
                <CertificatesImages />
            </a>
        </div>
    </div>
    <div id="container-descript-certificates" class=`${style.container_descript_certificates}`>
            <CertificatesDescript title="Superior em Desenvolvimento Web" name="Anhanguera Educacional" date="cursando desde ago/2023"/>
            <CertificatesDescript title="Trilha Discovery Desenvolvimento Web" name="Rocketseat" date="jun/2023"/>
            <CertificatesDescript title="Orientação a Objetos com Javascript e Typescript" name="Udemy&#8482" date="jul/2023"/>
            <div class="mt-10">
                <p data-aos="fade-right" data-aos-delay="350" class="italic">Entre outros que você pode conferir no meu Linkedin...</p>
            </div>
    </div>
</div>