---

const {title, name, other, delayFx } = Astro.props;
import style from '../../styles/certifications.module.css'

---


<div id="certification-describe" class="text-end pb-10" data-aos-delay={delayFx}>
    <h3 class=`${style.title_certification_describe} text-4xl`>{title}</h3>
    <p class=`${style.name_certification_describe} text-xl`>{name}</p>
    <p class="italic font-light">{other}</p>
</div>
